<a href="https://colab.research.google.com/github/Anusha7893/Python-Notebooks/blob/main/session4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Relational Operators

* Relational Operators are used to compare values
* Gives `True` or `False` as the result of a comparison.    

# These are different relational operators

* `>`	Is greater than
* `<`	Is less than
* `==`	Is equal to
* `<=`	Is less than or equal to
* `>=`	Is greater than or equal to
* `!=`	Is not equal to

In [ ]:
# Code
print(5 < 10)
print(2 != 1)

True
True

# Possible Mistakes
**Mistake - 1**

In [ ]:
# Code
print(3 = 3)

True

**Mistake - 2**

In [ ]:
# Code
print(2 < = 3)

True

**Note**: Space between relational operators ==, >=, <= , != is not valid in Python.

# Comparing Numbers

In [ ]:
# Code
print(2 <= 3)
print(2.55 >= 2.55)

True
True

**Comparing Integers and Floats**

In [ ]:
# Code
print(12 == 12.0)
print(12 <= 12.1)

True
True

**Comparing Strings**

In [ ]:
print("ABC" == "ABC")
print("CBA" != "ABC")

True
True

# Case Sensitive

In [ ]:
# Code
print("ABC" == "abc")

False

**Note**: Python is case sensitive.
It means `X` (Capital letter) and `x` (small letter) are not the same in Python.

# Strings and Equality Operator

In [ ]:
# Code
print(True == "True")
print(123 == "123")
print(1.1 == "1.1")

False
False
False

# **Logical Operators**

The logical operators are used to perform logical operations on Boolean values.
Gives `True` or `False` as the result.  

Following are the logical operators  

* `and`
* `or`
* `not`

# Logical AND Operator
Gives `True` if both the booleans are true else, it gives `False`

In [ ]:
# Code
print(True and False) # symbol '&'

False

**Examples of Logical AND**

In [ ]:
# Code
print((2 < 3) and (1 < 2))

True

**Step by Step Explanation**

`(2 < 3) and (1 < 2)`

`True and (1 < 2)`

`True and True`

# Logical OR Operator
Gives `True` if any one of the booleans is true else, it gives `False`

In [ ]:
# Code
print(True or False) # symbol '|'

True

**Examples of Logical OR**

In [ ]:
# Code
print((2 < 3) or (2 < 1))

True

**Step by Step Explanation**

`(2 < 3) or (2 < 1)`  

`True or (2 < 1)`  

`True or False`

# Logical NOT Operator

Gives the opposite value of the given boolean.

In [ ]:
# Code
print(not(True)) # symbol '~'

False

**Examples of Logical NOT**

**Step by Step Explanation**

`not(2 < 3)`

`not(True)`

`False`

# **Summary**



1. Logical `AND` Operator gives True if all the booleans are true.
2. Logical `OR` Operator gives True if any of the booleans are true.
3. Logical `NOT` Operator gives the opposite value

In [ ]:
count=0
while count<10:
  print(count)
  count*=1